.RegisterPageContainer {
  width: 90%;
  max-height: 90vh;
  margin: auto;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: flex-start;
}
.title {
  margin-bottom: 0;
}
hr {
  width: 100%;
}
.form {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.RegisterPageContainer .title {
  font-size: 3vw;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%;
}
.inputGroup label {
  font-weight: bolder;
  font-size: 1.5vw;
}
.inputGroup input {
  font-size: 2vw;
  height: 3.5vw;

  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.form small {
  font-size: 1.2vw;
}
.inputGroup input:focus {
  background-color: rgb(230, 230, 230);
}

.submitButton {
  width: fit-content;
  border: 0.2vw solid rgb(242, 120, 151);
  padding: 0.5vw 2vw;
  border-radius: 10px;
  font-size: 1.7vw;
  margin-top: 1vw;
  color: white;
  background-color: rgb(242, 120, 151);
  font-weight: bolder;
}
.submitButton:hover {
  box-shadow: 0px 0px 10px 5px rgba(242, 120, 151, 0.5);
  cursor: pointer;
}
.googleButton {
  align-self: center;
  margin-top: -2vw;
  text-align: center;
}
.googleButton h3 {
  font-size: 2vw;
  margin: 0;
}
.googleButton button {
  width: 20vw;
  font-size: 1.5vw;
  margin-top: 1vw;
  border: none;
  outline: none;

  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.2);
  padding: 0.7vw 0.3vw;
  border-radius: 8px;
}
.googleButton button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 13px 3px rgba(0, 0, 0, 0.3);
}
