.SpinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
}
.Spinner {
  border: 1vw solid #f3f3f3; /* Light grey */
  border-top: 1vw solid #3498db; /* Blue */
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  margin: auto;

  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
